BasedOnStyle:  LLVM
UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 160
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
